html {
  scroll-behavior: smooth;
}

body {
  margin: 5rem 10rem;
  padding: 0;
  background-image: linear-gradient(to right, rgba(53, 55, 56, 0.932), rgba(22, 22, 22, 0.795), rgb(0, 0, 0));
  border: 1px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%) 2/5;
  border-image-outset: 4px;
}

h1 {
  color: peachpuff;
  font-family: 'Major Mono Display', monospace;
  font-size: 2.5rem;
  height: 50%;
}

h3, p {
  color: whitesmoke;
  font-family: 'Inconsolata', monospace;
}


.page1 {
  width: 100%;
  height: 80vh;
  border-radius: 4px;
  height: 50rem;
  display: flex;
  flex-direction: row;
}

.page1 img {
  display: block;
  margin: 0;
  padding: 0;
  height: 35rem;
  position: relative;
  left: 0;
  justify-self: end;
}

.button1 {
  height: 20vh;
}

.button {
  visibility: hidden;;
}

.button3 {
  visibility: visible;
}

.button5 {
  visibility: visible;
}

button {
  position: relative;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 3rem;
}

@keyframes bounce {
  0% {
    top: 30px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 30px;
  }
}

.card {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  height: 38vh;
  padding: 0 3rem;
  align-items: stretch;
  margin: 0 2rem 2rem;
}

.photo {
  width: 20rem;
  align-self: center;
  margin-right: 1rem;
}

div.text {
  width: 100%;
  font-size: 1rem;
}

#back-to-top {
  text-align: center;
}

a {
  color: wheat;
  text-decoration: none;
}

a:visited {
  color: wheat;
}

footer {
  text-align: center;
}

i {
  font-size: 1.5rem;
  color: wheat;
  margin-right: 1rem;
}

/*Extremely large screen*/
@media screen and (min-width:1800px) {
  header {
    height: 100vh;
  }
  .page1 {
    height: 90%;
  }
  .button {
    height: 5%;
  }
  .button1 button img{
    height: 10rem;
    width: 10rem;
  }
  h1 {
    font-size: 10rem;
    width: 70%;
    
  }
  img#rainbow1 {
    height: 60%;
    width: 40%;
  }

  .card {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  .card img {
    width: 50%;
    height: auto;
  }
  h3 {
    font-size: 20rem;
    text-align: center;
  }
  p {
    font-size: 7rem;
    text-align: center;
  }
  .button {
    visibility: visible;
    height: 5%;
    
  }
  div.button {
    height: 5vh;
  }

  div.button button img{
    height: 10rem;
    width: 10rem;
  }

  i {
    font-size: 10rem;
    margin-right: 5rem;
  }
}

/*Large tablets (iPad Pro)*/
@media screen and (min-width: 800px) and (max-width: 1400px) {
  body {  
    margin: 5% 5%;
  }

  h3, p{
    text-align: center;
    font-size: 5rem;
  }

  header {
    height: auto;
    margin: 0;
    padding: 0;
  }

  div.page1 {
    margin: 0;
    padding: 0;
    height: 80%;
  }

  div.button {
    height: 5%;
    visibility: visible;
  }

  button {
    width: 10rem;
    height: 10rem;
  }
  button img {
    height: 5rem;
    width: auto;
  }

  h1 {
    font-size: 10rem;
    color: white;
  }

  #rainbow1 {
    height: 50%;
    width: auto;
  }

  .card {
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: none;
    justify-content: center;
  }

  div.text {
    justify-self: center;
  }

  .card img {
    height: 40%;
    width: auto;
  }
  
  
  }


/*Smaller tablets (iPad)*/ 
@media screen and (max-width: 750px) and (min-width: 500px) {
  header {
    height: 100vh;
  }
  div.page1 {
    height: 90%;
  }
  div.button1 {
    height: 5%
  }
  div.button {
    height: 5%;
    visibility: visible;
  }

  button {
    width: 10rem;
    height: 10rem;
  }
  button img {
    height: 5rem;
    width: 5rem;
  }
  h1 {
    font-size: 7rem;
    color: peachpuff;
  }

  img#rainbow1 {
    height: 40%;
    width: auto;
  }

  .card {
    height: 95vh;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  img.photo {
    width: 50%;
    height: auto;
  }

  h3 {
    font-size: 10rem;
    text-align: center;
  }

  p {
    font-size: 4.5rem;
  }

  footer {
    text-align: center;
  }

  footer p{
    font-size: 3.5rem;
    text-align: center;
  }

  footer a i {
    font-size: 5rem;
    margin: 3rem;
    text-align: center;
  }
} 

/*Medium sized phones (iPhone X)*/
@media screen and (max-width: 400px) {
  
  header {
    max-height: 200rem;
  }
  div.page1 {
    height: 90%;
  }
  div.button1 {
    height: 5%
  }
  div.button {
    height: 5%;
    visibility: visible;
  }

  button {
    width: 10rem;
    height: 10rem;
    margin-bottom: 50rem;
  }
  button img {
    height: 5rem;
    width: 5rem;
  }
  h1 {
    font-size: 7rem;
    color: peachpuff;
  }

  img#rainbow1 {
    display: none;
  }

  #photo-1 {
    margin-top: 10rem;
  }

  .card {
    height: auto;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-bottom: 10rem;
  }

  img#photo-1 {
    margin-top: 0;
  }

  img.photo {
    width: 50%;
    height: auto;
  }

  h3 {
    font-size: 10rem;
    text-align: center;
  }

  p {
    font-size: 1.5rem;
  }

  footer {
    text-align: center;
  }

  footer p{
    font-size: 3.5rem;
    text-align: center;
  }

  footer a i {
    font-size: 5rem;
    margin: 3rem;
    text-align: center;
  }
}